.background {
    padding: 2px;
}

.login-footer{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.login-footer Button {
    margin-top: 0px;
}
