.body{
    background-color: #5d5d5d;
}

.game-image-container {
    overflow: hidden;
    position: relative;
  }
  
  .game-image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .game-image-container:hover img,
  .game-image-container.hovered img {
    transform: scale(1.1);
  }
  
  .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    margin: 0;
  }