

.game-image-container {
  overflow: hidden;
  position: relative;
}

.game-image-container img {
  width: 50%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  }
  
  .game-image-container:hover img {
    transform: scale(1.1);
  }
  
  .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    margin: 0;
  }

  .title-holder h2{
    color: white;
  }